@media (min-width:0px) and (max-width:770px)
{
    *{
        padding: 0%;
        margin:0%;
    }
    .page{
        height: 100vh;
        width: 100vw;
    }
    .main-page{
        background-color: #082032;
        width: 100vw;
        height:100vh;
    }
    .main-page-main-container{
        width:100vw;
        height:100vh;
        /* border: 2px solid white; */
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .data-side
    {
        height: 60vh;
        width: 100vw;
        /* border:2px solid red; */
    }
    .image-side{
        height: 40vh;
        width: 100vw;
        /* border: 2px solid white; */
        
    }
    .data-side h1{
        text-align: center;
        margin-left: 0;
        font-size: 25px;
        transition: none;
    }
    .data-side h1:hover
    {
        font-size: 25px;
    }
    #top-head{
        margin-top: 4vh;
        animation: none;
    }
    .data-side h2{
        text-align: center;
        margin-left: 0;
        font-size: 15px;
        animation: none;
    }
    .data-side h2:hover{
        font-size: 15px;
    }
    .data-side h3{
        margin-top: 1vh;
        margin-left: 0;
        text-align: center;
        margin-bottom: 0;
        font-size: 13px;
        transition: none;
    }
    .data-side h3:hover
    {
        font-size: 13px;
    }
    .btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 8vh;
    }
    .btn button{
        width: 35vw;
        height: 8vh;
        border-radius: 20px;
        outline: none;
        font-size:15px;
        font-weight: bold;
        cursor: pointer;

    }
    .btn button:first-child{
        margin-top: 0vh;
    }
    .btn button:last-child
    {
        margin-top: 0vh;
    }
    .btn button:active{
        background-color: aliceblue;
        color: #274d45;
    }
    .image-side img{
        height:25vh;
        width: 40vw;
        border-radius: 36px;
        box-shadow: none;
        animation: none;
        outline:2px solid white;
    }
}