

.mobile-nav{
   display: absolute;
   top: 5vh;
   left: 50vw;
    background-color: #082032;
    height: 5vh;
}
.mobile-nav ul li{
    list-style-type: none;
    /* display: flex; */
    /* flex-direction: row; */
    height: 3vh;
    width: 10vw;
}
.mobile-nav ul li a{
    text-decoration: none;
    color: grey;

}
@media (min-width:768px) {
    .mobile-nav{
        display: none;
    }
}